<h1 [hidden]="username.length==0">Bienvenue {{username}}</h1>
<div>
  <form class="col col-md-4">
    <div class="form-group">
      <input type="email" class="form-control" [(ngModel)]="username" name="login" id="" aria-describedby="emailHelpId" placeholder="@Email ?">
      <input type="password" class="form-control" [(ngModel)]="pwd" name="pwd" id="" placeholder="Mot de passe ?">
      <button type="submit" class="btn btn-primary" (click)="valider()">Submit</button>
    </div>
  </form>
</div>