<div class="container">
  <h1>{{title}}</h1>
  <app-accueil></app-accueil>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{maDate}}</strong> 
  </div>
  <script>
    $(".alert").alert();
  </script>
  <div style="text-align: center">
    <img
      src="https://images.seneweb.com/dynamic/modules/news/images/gen/fb/1a20e7be2b904d2a244554ee14a0067f7b6d785a.jpg"
      alt=""
      srcset=""
    />
  </div>
  <p>
    Au cours d’une dispute, durant la nuit du samedi au dimanche, dans un
    appartement à Liberté 5, un homme a étranglé à mort son épouse. Pris de
    panique, il se confie à deux de ses amis. Ces derniers lui conseillent de
    maquiller le crime en mort accidentelle. L’un d’entre eux contacte par
    téléphone la famille de la victime et annonce la mauvaise nouvelle en
    indiquant que la dame a glissé sur les carreaux et a fait une chute fatale.
  </p>
  <router-outlet></router-outlet>
</div>
